@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "roboto", sans-serif;
}

.bg-color {
  background: #192a56;
}

.fr-color {
  background: #273c75;
}

.bg-font {
  color: #192a56;
}

.fr-font {
  color: #273c75;
}

.nav-link-styles {
  @apply text-base text-green-300 font-semibold block md:inline-block px-3 py-4 md:py-2 md:rounded-lg;
}

.nav-link-styles:hover,
.dashboard-link:hover {
  background: #273c75;
}

.nav-main {
  min-height: calc(100vh - 5em);
}
@media screen and (min-width: 768px) {
  .nav-main {
    min-height: auto;
  }
}

.h-min-nav {
  min-height: calc(100vh - 5em);
}

.container-area {
  @apply px-4 md:px-10 lg:px-16 xl:px-20;
}

.font-merienda {
  font-family: "Merienda", sans-serif;
}

.font-passion-one {
  font-family: "Passion One", sans-serif;
}
